@font-face {
    font-family: Netron;
    src: url(../fonts/Netron.ttf);
}

@font-face {
    font-family: Kenyan;
    src: url(../fonts/Kenyan.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/Coolvetica.ttf);
}

*{
    font-family: Netron;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    --webkit-aparence: none;
}

:root{
    --cor-principal: #F90446;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
a::selection,
li::selection,
span::selection,
label::selection{
    color: #000;
    background: var(--cor-principal);
}

html{
    background: var(--cor-principal);
    overflow-x: hidden;
}

body{
    background: rgb(20, 20, 20);
    border: 2px solid var(--cor-principal);
    overflow-x: hidden;
}

.descricao{
    color: var(--cor-principal);
    margin-bottom: 30px;
    font-size: 1.1em;
    padding: 10px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 10px 0;
    background: #000;
}

.cabecalho .logo{
    width: 28%;
    margin: auto;
}

.cabecalho .logo img{
    width: 100%;
}

.cabecalho .menu-mobile{
    cursor: pointer;
    display: none;
    width: 30px;
    margin: 10px;
    z-index: 1;
}

.cabecalho .menu-mobile img:checked{
    outline: none;
}

.cabecalho .menu-mobile img{
    width: 100%;
}

.cabecalho .nav .fechar-menu{
    display: none;
    cursor: pointer;
    width: 25px;
    margin: 10px 10px 20px;
    float: right;
}

.cabecalho .nav .fechar-menu img{
    width: 100%;
}

.cabecalho .nav ul{
    display: flex;
    flex-direction: row;
}

.cabecalho .nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-bottom .3s;
}

.cabecalho .nav ul li:hover{
    border-bottom: 1px solid var(--cor-principal);
}

.cabecalho .nav ul li img{
    padding: 3px;
    margin: 0 3px 0 5px;
    width: 28px;
    height: 28px;
}

.cabecalho .nav ul li a{
    padding: 0 10px 5px 0;
    color:var(--cor-principal);
    transition: color .3s;
    font-size: 1em;
}

.cabecalho .nav ul li a:hover{
    color: rgb(255, 255, 255);
}

.cabecalho .nav .social{
    display: none;
}

.conteudo{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* //////////////// PRINCIPAL /////////////// */
.conteudo .principal{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(../images/principal-bg.svg) right no-repeat;
    background-size: contain;
}

.conteudo .principal .titulos{
    background: rgb(20, 20, 20);
    color:var(--cor-principal);
}

.conteudo .principal .titulos h1{
    font-size: 4em;
    text-align: center;
}

.conteudo .principal .titulos h2{
    font-size: 2.6em;
    text-align: center;
}

.conteudo .principal .titulos ul{
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo .principal .titulos ul li{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 2px solid var(--cor-principal);
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    transition: border .3s;
}

.conteudo .principal .titulos ul li:hover{
    border: 2px solid #FFF;
}

.conteudo .principal .titulos ul li img{
    width: 100%;
}

.titulo{
    background: rgb(20, 20, 20);
    border-bottom: 2px solid var(--cor-principal);
    margin-bottom: 100px;
}

.titulo h3{
    font-size: 2em;
    color:var(--cor-principal);
    padding-left: 10px;
}

/* //////////////// CONHECIMENTOS //////////////// */
.conhecimentos, 
.projetos, 
.futuramente, 
.sobre, 
.certificados, 
.contato{
    padding-bottom: 100px;
}

.conhecimentos{
    background: url(../images/conhecimentos-bg.svg) center no-repeat;
    background-size: contain;
}

.conhecimentos .colecao-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.conhecimentos .colecao-card .card{
    background: rgb(20, 20, 20);
    cursor: pointer;
    width: 46%;
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px var(--cor-principal);
    transition: transform .4s;
}

.conhecimentos .colecao-card .card:hover{
    transform: scale(1.02);
}

.conhecimentos .colecao-card .card h5{
    font-size: 1.3em;
    color: var(--cor-principal);
}

.conhecimentos .colecao-card .card .progresso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.conhecimentos .colecao-card .card .progresso .barra{
    width: 100%;
    height: 20px;margin: 10px 0;
    border: 2px solid var(--cor-principal);
    border-radius: 5px;
}

.conhecimentos .colecao-card .card .progresso .barra .barra-progresso{
    width: 0;
    height: 100%;
    background: var(--cor-principal);
}



.conhecimentos .colecao-card .card .progresso span{
    color: var(--cor-principal);
    font-size: 1em;
    width: 100%;
    text-align: right;
}

/* .conhecimentos .colecao-card .card .progresso span::before{
    content: "";
    background: url(../images/baixo.png) center;
    background-size: contain;
    float: left;
    cursor: pointer;
    width: 25px;
    height: 25px;
} */

.conhecimentos .colecao-card .card .aprendizado{
    display: none;
}

.conhecimentos .colecao-card .card .aprendizado ul li{
    color: var(--cor-principal);
    font-size: 1em;
}

/* /////////////// PROJETOS ////////////// */
.projetos{
    background: url(../images/projetos-bg.svg) center right no-repeat;
    background-size: contain;
}

.projetos .colecao-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projetos .colecao-card .card{
    background: rgb(20, 20, 20);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border: 1px solid var(--cor-principal);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--cor-principal);
}

.projetos .colecao-card .card img{
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.projetos .colecao-card .card p{
    color: var(--cor-principal);
    font-size: 1em;
    margin: 10px 20px;
}

.projetos .colecao-card .card a{
    background: var(--cor-principal);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000;
    transition: transform .4s, box-shadow .4s;
}

.projetos .colecao-card .card a::selection{
    color: var(--cor-principal);
    background: #000;
}

.projetos .colecao-card .card a:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 2px var(--cor-principal);
}

.projetos .colecao-card .card a img{
    width: 28px;
    height: 28px;
    background: #000;
    border-radius: 50px;
    padding: 2px;
    margin-left: 5px;
}

.projetos .colecao-card .card details{
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    width: 100%;
    background: #000;
    padding: 5px;
    border-top:  1px solid var(--cor-principal);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.projetos .colecao-card .card details summary{
    color: var(--cor-principal);
    text-align: center;
    font-size: .8em;
}

.projetos .colecao-card .card details summary::before{
    content: '';
    background: url(../images/baixo.png) center;
    background-size: contain;
    width: 15px;
    height: 15px;
    float: left;
}

.projetos .colecao-card .card details div{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
}

.projetos .colecao-card .card details div p{
    font-size: .8em;
    margin: 3px;
}

/* /////////////// FUTURAMENTE /////////////// */
.futuramente{
    background: url(../images/futuramente-bg.svg) center no-repeat;
    background-size: contain;
}

.futuramente .colecao-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.futuramente .colecao-card .card{
    width: 30%;
    background: #000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0px 0px 10px var(--cor-principal);
    border: 1px solid var(--cor-principal);
}


.futuramente .colecao-card .card p{
    color: #000;
    background: var(--cor-principal);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.futuramente .colecao-card .card p::selection{
    color: var(--cor-principal);
    background: #000;
}

.futuramente .colecao-card .card img{
    width: 60%;
    margin: 15px 0;
}

.futuramente .colecao-card .card span{
    color: var(--cor-principal);
    font-size: 1.2em;
}

/* ///////////////// SOBRE //////////////// */
.sobre{
    background: url(../images/sobre-bg.svg) center no-repeat;
    background-size: contain;
}

.sobre .historia{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #000;
    border-radius: 5px;
    border: 1px solid var(--cor-principal);
    box-shadow:  0px 0px 10px var(--cor-principal);
}

.sobre .historia .image{
    width: 30%;
    padding: 10px;
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
}

.sobre .historia .image img{
    width: 100%;
}

.sobre .historia p{
    color: var(--cor-principal);
    font-size: .8em;
    line-height: 2;
    text-align: justify;
    margin-bottom: 20px;
}

.sobre .historia p a{
    color: #31ADED;
    transition: color .3s;
}

.sobre .historia p a:hover{
    color: #FFF;
}

/* /////////////// CERTIFICADOS /////////////// */
.certificados .carrossel{
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.certificados .carrossel .item-carrossel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificados .carrossel .item-carrossel img{
    width: 100%;
    margin-bottom: 20px;
}

.certificados .carrossel .btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
}

.certificados .carrossel .btns button{
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: background .3s;
}

.certificados .carrossel .btns button:hover{
    background: #FFF;
}

.certificados .carrossel .btns button img{
    width: 100%;
}

/* /////////////// CONTATO /////////////// */
.contato{
    background: url(../images/form-bg.svg) bottom right no-repeat;
    background-size: contain;
}

.contato .descricao{
    font-size: 1.5em;
    margin-bottom: 0;
}

.contato p{
    color: var(--cor-principal);
    font-size: 1em;
    padding-left: 10px;
}

.contato .form{
    background: rgb(20, 20, 20);
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    padding: 15px;
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--cor-principal);
}

.contato .form .image{
    width: 150px;
    margin: auto;
}

.contato .form .image img{
    width: 100%;
}

.contato .form .info{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato .form .info p{
    text-align: center;
    font-size: .7em;
    background: #000;
    border:  1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 50px;
}

.contato .form form .inputs{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.contato .form form .inputs label{
    color: var(--cor-principal);
    font-size: .8em;
}

.contato .form form .inputs input,
.contato .form form .inputs textarea{
    font-family: sans-serif;
    color: var(--cor-principal);
    caret-color: var(--cor-principal);
    padding: 15px 5px;
    border-radius: 5px;
    background: #000;
    transition: border .5s;
    border: 1px solid #000;
    font-size: 1em;
}

.contato .form form .inputs input::placeholder,
.contato .form form .inputs textarea::placeholder{
    color: var(--cor-principal);
    font-size: 1em;
}

.contato .form form .inputs input:focus,
.contato .form form .inputs textarea:focus{
    outline: none;
    border: 1px solid var(--cor-principal);
}

.contato .form form .inputs textarea{
    resize: none;
    height: 100px;
}

.contato .form form .inputs 
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.contato .form form .inputs input[type="submit"]{
    font-family: Netron;
    cursor: pointer;
    color: #000;
    background: var(--cor-principal);
    margin-top: 20px;
    font-size: 1.3em;
    transition: background .3s;
}

.contato .form form .inputs input[type="submit"]:hover{
    background: #FFF;
}

/* /////////////// VOLTAR AO TOPO ////////////// */
.conteudo .btn-topo{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #000;
    box-shadow: 0px 0px 10px var(--cor-principal);
    border: 1px solid var(--cor-principal);
    transition: transform .4s;
}

.conteudo .btn-topo:hover{
    transform: scale(1.1);
}

.conteudo .btn-topo a{
    display: block;
    width: 100%;
    height: 100%;
}

.conteudo .btn-topo a img{
    width: 100%;
    height: 100%;
}

/* //////////////// RODAPÉ /////////////// */
.rodape{
    width: 100%;
    background: #000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape .copy p{
    color: var(--cor-principal);
    text-align: center;
}

.rodape .social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rodape .social ul li{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 2px solid var(--cor-principal);
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    transition: border .3s;
}

.rodape .social ul li:hover{
    border: 2px solid #FFF;
}

.rodape .social ul li img{
    width: 100%;
}

/* /////////////// KEYFRAMES //////////////// */
.visivel{
    animation: visivel .5s linear;
}

.html{
    animation: html .5s linear forwards;
}

.css{
    animation: css .5s linear forwards;
}

.js{
    animation: js .5s linear forwards;
}

.node{
    animation: node .5s linear forwards;
}

.wordpress{
    animation: wordpress .5s linear forwards;
}

.git{
    animation: git .5s linear forwards;
}

.abrir-menu{
    animation: abrir-menu .3s ease-out forwards;
}

.valida{
    animation: valida .3s linear forwards;
}

.mostrar{
    animation: mostrar .5s linear forwards;
}

@keyframes visivel {
    form{
        visibility: 0;
    }
    to{
        visibility: 1;
    }
}

@keyframes abrir-menu {
    to{
        right: 0;
    }
}

@keyframes html {
    to{
        width: 80%;
    }
}

@keyframes css {
    to{
        width: 60%;
    }
}

@keyframes js {
    to{
        width: 20%;
    }
}

@keyframes node {
    to{
        width: 10%;
    }
}

@keyframes wordpress {
    to{
        width: 20%;
    }
}

@keyframes git {
    to{
        width: 40%;
    }
}

@keyframes valida {
    0%{
        border: 2px solid rgb(0, 0, 0);
        transform: translateX(-50px);
        transform: rotate(1deg);
    }
    25%{
        border: 2px solid rgb(55, 0, 0);
        transform: translateX(50px);
        transform: rotate(-1deg);
    }
    50%{
        border: 2px solid rgb(155, 0, 0);
        transform: translateX(-25px);
        transform: rotate(1deg);
    }
    75%{
        border: 2px solid rgb(255, 0, 0);
        transform: translateX(25px);
        transform: rotate(-1deg);
    }
    100%{
        border: 2px solid rgb(255, 0, 0);
        transform: translateX(0);
        transform: rotate(0);
    }
}

@keyframes mostrar {
    0%{
        display: block;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

/* ////////////// MEDIA SCREEN ////////////// */
@media only screen and (max-width: 1050px){
    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
    }
    .cabecalho .logo{
        margin-left: 10px;
    }
    .cabecalho .menu-mobile{
        display: block;
    }
    .cabecalho .nav .fechar-menu{
        display: block;
    }
    .cabecalho .nav{
        position: fixed;
        width: auto;
        height: 100%;
        padding-left: 30px;
        top: 0;
        right: -284px;
        background: #000;
        border: 2px solid var(--cor-principal);
        border-left: 0;
        z-index: 1;
    }
    .cabecalho .nav ul{
        width: 100%;
        flex-direction: column;
    }
    .cabecalho .nav ul li {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .cabecalho .nav .social{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
    }
}

@media only screen and (max-width: 650px){
    .conteudo .principal{
        align-items: center;
    }
    .descricao{
        text-align: center;
    }
    .conhecimentos .colecao-card .card{
        width: 80%;
    }
    .projetos .colecao-card .card {
        width: 80%;
    }
    .futuramente .colecao-card .card {
        width: 80%;
    }
    .contato p{
        padding: 0 10px 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 585px){
    .conteudo .principal .titulos h1 {
        font-size: 3em;
    }
    .conteudo .principal .titulos h2 {
        font-size: 2em;
    }
    .titulo h3{
        font-size: 1.7em;
    }
    .conteudo .btn-topo{
        bottom: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 445px){
    .titulo{
        margin-bottom: 50px;
    }
    .conhecimentos, 
    .projetos, 
    .futuramente, 
    .sobre, 
    .certificados, 
    .contato{
        padding-bottom: 50px;
    }
    .conteudo .principal .titulos h1 {
        font-size: 2.5em;
    }
    .conteudo .principal .titulos h2 {
        font-size: 1.6em;
    }
    .cabecalho .logo{
        width: 40%;
    }
    .conteudo .btn-topo{
        bottom: 5px;
        right: 15px;
    }
}