/* Font Face */
@font-face{
    font-family: king;
    src: url(../font/kin.TTF);
}

/* padronizando todas as tags */
*{
    margin: 0px;
    padding: 0px;
    font: 14px;
    font-family: king;
    font-weight: 800;
    text-decoration: none;
    line-height: 1.5;
}

/* topo */
header{
    background-color: rgb(228, 228, 228);
    overflow: auto;
}

header img{
    float: left;
    margin: 15px;
}

header nav{
    float: right;
}

header a{
    display: inline-block;
    padding-right: 15px;
    padding-top: 25px;
    text-decoration: none;
    color: black;
}

header a:hover{
    color: blue;
}

/* conteúdo principal */
main{
    width: 100%;
    max-width: 1150px;
    margin: auto;
    box-sizing: border-box;
    /* border: 1px solid black */
}

/* pagina de início */
.inicio .listImg{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.inicio .listImg .img{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 9px;
    padding-bottom: 15px;
    transition: box-shadow .3s;
}

.inicio .listImg .img:hover{
    box-shadow: 0px 0px 15px #000;
}

.inicio .listImg p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* Rodapé */
footer{
    padding: 30px 0;
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

/* sobre */

/* h1 do sobre */
.sobre h1{
    font-size: 36px;
    padding: 10px;
    text-align: center;
}

.sobre .admin{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sobre .admin h2{
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

.sobre .admin div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.sobre .admin div img{
    width: 35%;
}

.sobre .admin div p{
    width: 65%;
    margin-left: 15px;
    text-align: justify;
}

/* POSTAGENS */
.blog h1{
    font-size: 25px;
    text-align: center;
    padding-bottom: 25px;
}

.blog .posts{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.blog .posts .postagem{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 15px;
    border-top: 1px solid rgb(131, 131, 131);
}

.blog .posts .post .postagem img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin-right: 15px;
}

.blog .posts .post .postagem a{
    font-size: 2em;
    color: rgb(0, 0, 255);
}

.blog .posts .post .postagem p{
    font-size: 1.1em;
    margin-top: 5px;
    text-align: justify;
}

.blog .posts .post .comments{
    width: 100%;
    box-sizing: border-box;
}

.blog .posts .post .comments h3{
    color: rgb(128, 127, 127);
    font-size: 1.2em;
    text-align: center;
}

.blog .posts .post .comments .comment-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.blog .posts .post .comments .comment-2{
    margin-left: 50px;
}

.blog .posts .post .comments .comment-1 .comment{
    padding-left: 10px
}

.blog .posts .post .comments .comment-1 .comment h4{
    font-size: 1em;
    color: rgb(0, 0, 255);
}

.blog .posts .post .comments .comment-1 .comment p{
    font-size: 1em;
    color: rgb(78, 78, 78)
}

.blog .posts .post .comments .comment-1 .comment ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.blog .posts .post .comments .comment-1 .comment ul li{
    font-size: .9em;
    color: rgb(128, 127, 127);
    cursor: pointer;
    margin: 0 3px;
}


/* CONTATOS */
.contato  .form{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.contato .form .desc{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
}

.contato .form .desc h1{
    font-size: 2em;
}

.contato .form .desc p{
    font-size: 1.5em;
    color: rgb(0, 0, 255);
}

.contato .form form{
    display: flex;
    flex-direction: column;
}

.contato .form form label{
    font-size: 1em;
    color: rgb(34, 34, 34);
    margin-top: 15px;
}

.contato .form form input{
    width: 65%;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(128, 127, 127);
    border-radius: 5px;
    box-sizing: border-box;
}

.contato .form form input:focus, 
.contato .form form textarea:focus{
    outline: none;
}

.contato .form form textarea{
    width: 65%;
    resize: none;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.contato .form form input[type=submit]{
    cursor: pointer;
    background-color: #0677F1;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    transition: background-color .3s;
}

.contato .form form input[type=submit]:hover{
    background-color: rgb(0, 0, 255);
}

@media only screen and (max-width:900px){
    .inicio .listImg .img{
        width: 40%;
    }
    .contato .form form input, .contato .form textarea{
        width: 100% !important;
    }
}
@media only screen and (max-width:850px){
    .blog .posts .post .postagem{
        flex-direction: column;
    }
    .blog .posts .post .postagem img{
        margin: auto;
    }
}
@media only screen and (max-width:770px){
    .sobre .admin div{
        flex-wrap: wrap;
    }
    .sobre .admin div img{
        width: 85%;
    }
    
    .sobre .admin div p{
        width: 85%;
        margin-top: 15px;
    }
    .blog .posts .post{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:600px){
    .inicio .listImg .img{
        width: 90%;
    }
    .sobre .admin div img{
        width: 98%;
    }
    
    .sobre .admin div p{
        width: 98%;
    }
    .contato .form .desc h1{
        font-size: 1.8em;
    }
    .contato .form .desc p{
        font-size: 1.2em;
    }
    /* .blog .posts .post img{
        width: 100%;
    } */
}
@media only screen and (max-width:480px){
    .contato .form .desc h1{
        font-size: 1.5em;
    }
    .contato .form .desc p{
        font-size: 1em;
    }
}