*{
    margin: 0px;
    padding: 0px;
    font: 14px sans-serif; 
    list-style: none;
}

/* CAFE DA MANHA[INICIO] */
#cafe{
    background-image: url(../img/cafe_da_manha/coffe.jpg);
    background-size: cover;
    width: 1010px;
    height: 500px;
    margin: 0 auto 10px;
    padding-top: 60px;
}

#menu_cafe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#menu_cafe li{
    margin: 5px;
    border-bottom: 4px solid rgb(255,0,0);
}

#cafe1{
    background-image: url(../img/cafe_da_manha/01.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe2{
    background-image: url(../img/cafe_da_manha/02.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe3{
    background-image: url(../img/cafe_da_manha/03.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe4{
    background-image: url(../img/cafe_da_manha/04.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe5{
    background-image: url(../img/cafe_da_manha/05.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe6{
    background-image: url(../img/cafe_da_manha/06.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe7{
    background-image: url(../img/cafe_da_manha/07.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#cafe8{
    background-image: url(../img/cafe_da_manha/08.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}

#menu_cafe p{
    width: 200px;
    height: 190px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: background-color 0.5s, opacity 0.5s;
}

#menu_cafe p:hover{
    background-color: rgba(255,255,255, 0.8);
    opacity: 1;
}